[2019-06-12 05:56] gr2m opened #2 "Implement permissions, repository_ids, refresh auth options"
They are already documented in the README.

[2019-06-29 03:23] gr2m opened #5 "Allow to set default installationId in strategy Options"
[code]

This would be the same as

[code]

[2019-06-29 04:26] #2 closed

[2019-06-30 17:02] gr2m opened #6 "Make compatible with browsers"
In theory, apps could run entirely in "browsers", including receiving webhooks by utilizing https://smee.io/ or a similar service.

The reason that it’s not compatible right now is the [`jsonwebtoken`](https://github.com/auth0/node-jsonwebtoken) dependency. It would be worth looking into an alternative that utilizes the [`SubtleCrypto`](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto

[2019-06-30 17:24] gr2m commented on #5
I’ll put that on hold for now and wait until we made sure that this is indeed helpful for Probot and similar frameworks. I could see it being confusing that the same method call `auth()` can return different things based on the factory options.

[2019-06-30 17:55] gr2m commented on #5
[code]

The `auth` option for the Octokit constructor would retrieve the current request options which includes the `.url` property (this is not implemented that way, but that’s what I plan to do). So the correct authentication method would be used automatically based on the endpoint used 🤔 That’s pretty neat.

[2019-08-08 07:17] greenkeeper[bot] opened #14 "An in-range update of @types/jsonwebtoken is breaking the build 🚨"
## The dependency [@types/jsonwebtoken](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `8.3.2` to `8.3.3`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2F%40types%2Fjsonwebtoken-8.3.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jsonw

[2019-08-08 15:47] gr2m commented on #14
false positive

[2019-08-08 15:47] #14 closed

[2019-08-28 06:47] gr2m opened #16 "Add support for OAuth Access tokens"
GitHub Apps also support authenticating users through OAuth, see https://developer.github.com/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/

[2019-08-30 19:00] gr2m commented on #16
The challenge with adding OAuth to `@octokit/auth-app` authentication is that it's unclear how `auth.hook` will work. So far, `auth.hook` decides what kind of authentication to apply to a request based on the URL, but now the same URLs could use either an installation access token or an oauth access token 🤔

[2019-08-30 22:31] #16 closed

[2019-09-02 15:00] #6 closed

[2019-10-24 06:04] greenkeeper[bot] opened #24 "An in-range update of @octokit/request is breaking the build 🚨"
## The dependency [@octokit/request](https://github.com/octokit/request.js) was updated from `5.2.1` to `5.3.0`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frequest-5.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/request is a direct de

[2019-10-25 19:59] #24 closed

[2019-11-01 04:09] frangio opened #26 "Cannot read property 'split' of undefined"
Seeing the above error here:

https://github.com/octokit/auth-app.js/blob/59e368c8595b742bd303dbbba9f161d336887269/src/get-oauth-authentication.ts#L45

I have not set any OAuth scopes for my App.

[2019-11-01 04:11] frangio commented on #26
Okay, it seems I'm getting the following response from GitHub:

[code]

I hadn't passed a redirectUri because the documentation didn't say it was required. Perhaps this function should check for errors in the response, though?

[2019-11-01 04:43] gr2m commented on #26
Agree, it should! I'm currently working on other parts of Octokit but happy to review a pull request if you would like to give it a go.

[2019-11-01 19:56] frangio commented on #26
I've been looking at this a bit and to me it seems like a there is a bug in `@octokit/request`. It should be rejecting the promise but it isn't.

Perhaps the status code in this situation is not being taken as an error. I'll reproduce to see what status it is.

[2019-11-02 02:32] gr2m commented on #26
Ah I remember there was sth super odd about the `POST https://github.com/login/oauth/access_token` endpoint, the status code is not set correctly in case of an error. I'm sure I fixed this before ... but might got lost or it's in another repo. The `POST https://github.com/login/oauth/access_token` endpoint is such a pita :/

Can you start a PR with a failing test and we take it from there?

[2019-11-02 22:19] frangio commented on #26
Sure! I've opened https://github.com/octokit/request.js/pull/94.

[2019-11-03 21:18] #26 closed

[2019-11-08 06:00] gr2m opened #29 "`requiresAppAuth()` check fails for full URLs"
The following code throws an error, because it tries to retrieve an installation token, although it should just use the JWT authentication.

[code]

replacing

[code]

with

[code]

fixed it for me

[2019-11-08 22:30] #29 closed

[2019-11-09 03:13] greenkeeper[bot] opened #31 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.18.2` to `1.19.0`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2Fprettier-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. I

[2019-11-10 18:05] #31 closed

[2019-12-28 21:46] greenkeeper[bot] opened #36 "An in-range update of fetch-mock is breaking the build 🚨"
## The devDependency [fetch-mock](https://github.com/wheresrhys/fetch-mock) was updated from `8.2.1` to `8.3.0`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2Ffetch-mock-8.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fetch-mock is a devDependency of this pro

[2020-01-02 18:00] gr2m commented on #36
See https://github.com/wheresrhys/fetch-mock/issues/493

[2020-01-02 22:28] gr2m commented on #36
Should be fixed in 8.3.1 via https://github.com/wheresrhys/fetch-mock/pull/494

[2020-01-23 16:34] #36 closed

[2020-01-23 16:46] gr2m opened #38 "💡 Dream code to simplify requests for each installation / repository"
# Example: dispatch event in all repositories of all installations

Simplified version without taking pagination into account.

[code]

My dreamcode:tm: alternative for the code above would look something like this

[code]

Or even better

[code]

[2020-01-30 19:22] greenkeeper[bot] opened #42 "An in-range update of @octokit/request-error is breaking the build 🚨"
## The dependency [@octokit/request-error](https://github.com/octokit/request-error.js) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frequest-error-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/requ

[2020-02-11 06:02] #42 closed

[2020-02-11 06:56] gr2m opened #44 "rename `id` option to `appId`"
It will be easier to understand when using with an Octokit instance

[code]

is more clear than

[code]

[2020-02-14 15:45] zpartal opened #47 "Throw a descriptive error when permissions is not set"
Hello,

I ran into an issue where when I did not set a permissions object, even an empty one, in the the auth options I would see the following error:

`Cannot convert undefined or null to object`

Upon debugging it seems as if it comes from here:

https://github.com/octokit/auth-app.js/blob/0b50bb41fb850bb3398f0449bd3a4438ff04acff/src/cache.ts#L72

If no permissions are passed in, the Object.keys

[2020-02-14 17:26] gr2m commented on #47
Thanks for reporting the issue Zachary. I tried to reproduce the problem with the exact same code, but it just worked for me ... 🤔

Before it does the `Object.keys(data.permissions)` it checks if `data.permissions` exists

https://github.com/octokit/auth-app.js/blob/0b50bb41fb850bb3398f0449bd3a4438ff04acff/src/cache.ts#L70-L72

Here are the steps I took to in order to try to reproduce the problem

[2020-02-14 18:57] zpartal commented on #47
Looking at

https://github.com/octokit/auth-app.js/blob/0b50bb41fb850bb3398f0449bd3a4438ff04acff/src/cache.ts#L70-L72

it looks like `options.permissions` is being checked, and set to empty string if permissions exists on options. It is also not checking `data.permissions`. Should it be:

[code]

From what I can tell, `options` comes from what I pass into this

https://github.com/octokit/auth-app.

[2020-02-14 19:17] gr2m commented on #47
In your code, can you share how you use the `graphql` request hook?

[code]

Here is my code trying to reproduce the problem, but it all works as expected

[code]

[2020-02-15 00:08] zpartal commented on #47
My graphql hook looks as follows
[code]

Also, since I hadn't posted it before, here is the the error
[code]

[2020-02-15 00:19] zpartal commented on #47
Further inspection shows that the request here

https://github.com/octokit/auth-app.js/blob/master/src/get-installation-authentication.ts#L58

is not returning is not returning permissions, only `tokens` and `expires_at`. I wonder if this is a quirk of GitHub Enterprise.

[2020-02-15 02:22] gr2m commented on #47
Hmm that is well possible :( I'm sorry that I didn't put in the time to test compatibility with GHES yet. I have it on my backlog.

Here is how the response looks like on api.github.com:
https://developer.github.com/v3/apps/#response-5

Here is how the same response looks like for GHES 2.18
https://developer.github.com/enterprise/2.18/v3/apps/#response-5

At least in terms of looking example shown

[2020-02-17 16:38] kjc17710 commented on #47
FWIW, I am also on Enterprise 2.18 and had to add the empty permissions object in order to get the request to work successfully.

[2020-02-17 17:49] gr2m commented on #47
Let me update the README to at least give people a heads up.

Can anyone check if the problem persists in 2.19?

[2020-02-17 17:53] kjc17710 commented on #47
We are upgrading at the end of this month, so I can try again at the start of March and let you know.

[2020-02-18 06:55] gr2m opened #49 "Avoid double requests when retrieving a new token"
Compare https://github.com/octokit/auth-oauth-app.js/issues/35

[2020-02-18 16:28] zpartal commented on #47
We are on 2.18 as well, I'll revisit this when we are on 2.19.

[2020-02-18 16:34] zpartal commented on #47
Actually, I don't think setting the permissions on auth options will be a workaround for using the hook with `@octokit/graphql`. Can you elaborate further what you meant here

[2020-02-18 17:49] gr2m commented on #47
I think the API was changed at some point. Initially, the `"permissions"` was only present if you set the `"permissions"` parameter when creating an installation access token. After the change the `"permissions"` key was always present. So if you create a token without setting the `"permissions"` parameter, [the returned authentication object](https://github.com/octokit/auth-app.js/#installation-a

[2020-03-02 15:38] kjc17710 commented on #47
@gr2m My enterprise version is now 2.20.0 and I can generate a token without the empty permissions object now.

[2020-03-03 21:22] greenkeeper[bot] opened #52 "An in-range update of fetch-mock is breaking the build 🚨"
## The devDependency [fetch-mock](https://github.com/wheresrhys/fetch-mock) was updated from `9.0.0` to `9.1.0`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...octokit:greenkeeper%2Ffetch-mock-9.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fetch-mock is a devDependency of this pro

[2020-03-07 21:39] plummer-flex opened #53 "Incorrect target url"
When trying to auth, it looks like there is a typo in the url path.  I am seeing double slashes in the generated url.

 'https://[REDACTED]/api/v3/app/installations//access_tokens'

[code]

The above code returns this:

[code]

I am also not sure the `accept` header is correct.  I am under the impression that is intended to be the GitHub App name.

[2020-03-09 19:43] #52 closed

[2020-03-11 14:28] NickLiffen opened #54 "Best Practise Proxy Support 😀👏🏼"
Hey 👋🏻,

I have a question, we are looking to use this module alongside the [@octokit/graphql.js](https://github.com/octokit/graphql.js/).

We work behind a corporate proxy, so we need to be able to pass a proxy to any egress request from within our network.

I see that both this and the `@octokit/graphql.js` modules use the [@octokit/request.js)](https://github.com/octokit/request.js) module to m

[2020-03-11 17:14] gr2m commented on #54
What I would suggest you do is to use https://github.com/octokit/core.js where you can pass `{ request: { agent } }` to setup a proxy. The full code would look like this

[code]

If you don't want to use `@octokit/core`, you can create a custom `@octokit/request` instance and pass that to both, `@octokit/graphql` ([see docs](https://github.com/octokit/graphql.js#use-custom-octokitrequest-instance)

[2020-03-12 21:20] davidxia commented on #47
I'm on enterprise version 2.18.12 and also ran into this today. @kjc17710's [workaround here](https://github.com/octokit/auth-app.js/issues/47#issuecomment-587076220) of setting permissions to an empty object worked for me.

Regarding @zpartal's [comment up above](https://github.com/octokit/auth-app.js/issues/47#issuecomment-586423146)

[code]

I have the same question. I don't have that much cont

[2020-03-13 00:55] gr2m commented on #47
How would you phrase it? I also wonder what permissions the created token has when you pass an empty `{}` as value for the `parameters` option. Will it inherit all permissions from the installation, or will have read-only access to public data only?

[2020-03-13 21:06] davidxia commented on #47
From my testing, the permissions are all the permissions inherited from the installation.

I'd phrase it as <strong>Required for GitHub Enterprise Server 2.18 and below. Specify an empty object `{}` for all permissions granted by the installation.</strong>

[2020-03-13 23:49] #47 closed

[2020-03-22 21:44] greenkeeper[bot] opened #57 "An in-range update of fetch-mock is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [fetch-mock](https://github.com/wheresrhys/fetch-mock) was updated from `9.3.0` to `9.3.1`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/maste

[2020-03-22 21:50] #57 closed

[2020-04-02 17:34] thibaultdalban opened #59 "atob is not defined when building with target: Node using webpack"
Hello,

I'm facing this error when I try to request the API. My project uses the following packages:
- `"@octokit/auth-app": "^2.4.4"`
- `"@octokit/rest": "^17.1.4"`
- `"typescript": "^3.8.2"`

[code]

[code]

I tried to install the package `atob-lite` cause it was a dependency in the past https://github.com/octokit/rest.js/pull/1302, but it doesn't fix the issue.

[2020-04-02 23:14] gr2m commented on #59
In what environment are you running your app? Server or browser?

[2020-04-02 23:18] gr2m commented on #59
I wonder where `universal-github-app-jwt` is coming from, it's not a dependency of `@octokit/auth-app.js`?

[2020-04-03 07:45] thibaultdalban commented on #59
Hi @gr2m,

Thank you for your quick reply!

My app is an AWS serverless Lambda running Node V12.16.1

I'm not sure to understand the question, but `universal-github-app-jwt` has been introduced in [@octokit/auth-app.js](https://github.com/octokit/auth-app.js/blob/master/package.json#L35) by #19

[2020-04-03 08:07] thibaultdalban commented on #59
It's strange; my app seems to be detected as running in a browser because before hitting this error, I've been requested to convert my private key using:
[code]
but the README indicates, Node handles both:

[2020-04-03 15:59] thibaultdalban commented on #59
This issue https://github.com/webpack/webpack/issues/5756 could explain why my app is using the code under `dist-web` and not `dist-node`.

I tested this https://github.com/webpack/webpack/issues/5756#issuecomment-405468106 and it loads the correct code, but it's not an option because it introduces potential side effects :confused:

I tried to downgrade to "@octokit/auth-app": "^2.0.1" (so before

[2020-04-03 20:27] gr2m commented on #59
Sorry, I mixed up what repository I was in 🤦‍♂ please ignore my comment.

This is all a problem with creating universal libraries (and build tools), it's really a pain. There is no standard that everyone agrees on. We have a lengthy discussion here about a similar problem: https://github.com/gr2m/universal-user-agent/issues/23 I hope that you find a workaround workaround there for you?

I hope tha

[2020-04-05 22:38] greenkeeper[bot] opened #61 "An in-range update of prettier is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `2.0.2` to `2.0.3`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...oc

[2020-04-06 13:41] thibaultdalban commented on #59
Thank you for the explanation and the links. I will take the time to read the discussion and test the different workarounds.
I very appreciated your help :rescue_worker_helmet: and your reactivity!
A big THANK YOU for all your contributions to the open-source community :+1:

[2020-04-06 18:57] #61 closed

[2020-04-09 00:56] greenkeeper[bot] opened #63 "An in-range update of @octokit/types is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [@octokit/types](https://github.com/octokit/types.ts) was updated from `2.7.1` to `2.8.0`.

🚨 [View failing branch](https://github.com/octokit/auth-app.js/compare/master...

[2020-04-09 17:12] gr2m commented on #63
resolved via 3bde187

[2020-04-09 17:12] #63 closed

[2020-04-13 14:18] Gopid opened #64 "Throw helpful error is installationId is unset"
I'm following [this](https://github.com/octokit/auth-app.js#createappauthoptions) basic example and I'm getting the JWT back fine but I'm getting a 404 for the installation access token. Tried hitting the api directly too, getting a 404 from there as well.

- using the right private key, checked the fingerprint
- tried making the app / repo public
- the app id is definitely correct
- checked the s

[2020-04-13 17:15] Gopid commented on #64
So now I can get an access token without this package (realised that app id is different from installation id 🤦) but I'm still not sure why `auth({ type: 'installation' })` is not returning an access token

[2020-04-13 17:29] Gopid commented on #64
Ok, got it, need to provide installationId either for createAppAuth or auth, might be worth throwing an error in this case? 'Need to provide an installation id either to createAppAuth or auth' or something

[2020-04-13 20:33] gr2m commented on #64
Absolutely! I thought we did that already, I'll look into it. Sorry for that! Glad you got it working

[2020-05-07 20:16] gr2m opened #65 "Handle 401 response when using installation token shortly after creation"
This is a follow up to https://github.com/octokit/plugin-paginate-rest.js/issues/33

Here is a simplified test case that I run in GitHub Actions.

[code]

Here is a run that triggered the expected error:
https://github.com/octokit/sandbox/runs/705154995?check_suite_focus=true#step:5:1

The way this could work

1. Keep track on weather any request was successful
2. If the first request using the in

[2020-05-15 17:28] steve-norman-rft commented on #65
@gr2m I think I've been seeing this problem in a Probot app as well.  Had something running as a test with very little activity happening on it and have seen a few  `Bad credentials` logged when there is nothing actually happening.

I think it is probably the stats page refreshing the popular repositories list at  https://github.com/probot/probot/blob/master/src/apps/stats.ts#L57.  The log entries

[2020-05-22 17:18] github-actions[bot] opened #84 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-24 23:53] gr2m commented on #65
I am very certain that this problem only applies to `GET` and `HEAD` requests, because read-only requests can hit replica of the main database where the newly created installation access token might not have yet propagated to, while all mutating requests hit the main database.

@droidpl can you confirm?

[2020-05-25 09:53] droidpl commented on #65
I would say so, this is what it does on GHES so I believe cloud would do the same at a bigger scale.

[2020-05-28 16:53] gr2m commented on #84
failed due to recent outage

[2020-05-28 16:53] #84 closed

[2020-06-03 20:06] #65 closed

[2020-07-02 14:05] lencioni opened #111 "Using with @octokit/graphql & GHES fails with 406"
This is similar to #47, but when using `createAppAuth`.

We have some code that looks like this:

[code]

When this is used with public GitHub it works okay. However, when it is used with GHE v2.18 (specifically tried with 2.18.20), we get an error with the following stack trace (partial, starting at @octokit/auth-app code):

[code]

I looked into applying the workaround mentioned in #47, but afte

[2020-07-02 14:53] gr2m commented on #111
Thanks Joe for reporting the issue. I'll be offline until Tuesday, but will look into it afterwards. I'd love a pull request if you get to it, I don't have a way to test against GHES 2.18 myself, I'm afraid

[2020-07-02 16:12] lencioni commented on #111
@gr2m Thanks for the quick response! The best approach here is not super clear to me. Three options immediately come to mind:

1. Allow hook options to be passed to `createAppAuth` in some way and propagate them down the chain. If we go with this, I'm not sure if the options need to be scoped in some way so they only get passed to the `getInstallationAuthentication` call (e.g. via a `getInstallati

[2020-07-09 01:55] lencioni commented on #111
@gr2m I hope you had a great holiday! How do you want to proceed here?

[2020-07-09 23:14] gr2m commented on #111
Thanks! I've still lots of notifications to catch up with :)

For option `2.` and `3.` we have to double check that the token gets any permissions at all, If we explicitly set it to `{}` instead of not setting it at all. Could you maybe check that with github.com & GHE 2.18?

[2020-07-10 18:03] trotzig commented on #111
I've confirmed that setting `{ permissions: {} }` works well against github.com, at least with the permissions we need. I'm not entirely sure how permissions come into play in this case though, since we're not explicitly setting them. Here's how I tested:
1. changed line 280 of node_modules/@octokit/auth-app/dist-node/index.js into `} = await getInstallationAuthentication(state, { permissions: {}

[2020-07-10 18:22] gr2m commented on #111
Okay thanks for checking! Would you like to get a pull request started? We can discuss details there

[2020-07-10 20:08] trotzig commented on #111
I think we're going to try the same thing with github enterprise before we put together a PR (@lencioni and I).

[2020-07-13 14:57] lencioni commented on #111
It was tricky to make a successful request to test this. Here's the script I used:

[code]

I was getting stuck on only receiving 406 Not Acceptable responses. I've looked at issues like https://github.com/octokit/request.js/issues/83 which suggest setting the accept header to `application/json` instead of `application/vnd.github.machine-man-preview+json` which I tried doing in a hacky way by addi

[2020-07-14 14:26] lencioni commented on #111
@gr2m did you find out anything useful yesterday?

[2020-07-16 00:09] gr2m commented on #111
I did not have time to look into this yet. I will keep you posted.

[2020-07-16 19:51] tnolet opened #117 "Question: Auto refreshing installation tokens"
We are running long lived background deamons and seeing some 401 errors when using installation tokens. My/our expectation was that tokens are cached (we can see this happening correctly) and refreshed automatically after they expire.

Is this correct? Or do we need to take explicit actions to handle 401 Bad Credentials errors and refresh any tokens?

Tnx!

[2020-07-16 20:04] gr2m commented on #117
Yes, that is correct. Do you see the 401s around the 1h mark? Can you share a minimal code example that reproduces the problem?

[2020-07-16 20:30] tnolet commented on #117
Hey @gr2m seems that way. We have some more heavy users of our service and they are hitting this issue. We are in the middle of triaging and putting in a fix. Timeline is as follows:

- We spin of jobs that interact with a specific customer's GitHub app installation.
- We created more threads / workers on our deamon to deal with throughput. Obviously, the in memory LRU cache is not shared.
- We pu

[2020-07-16 20:37] gr2m commented on #117
Instead of using `@octokit/auth-app` to retrieve the token and then pass it into `@octokit/rest`, you can do this:

[code]

And then

[code]

That way the creation and refresh will directly hook into the request lifecyle and you don't need to worry about it. The problem with `new Octokit({ auth: `token ${token}` })` is that the `token` you pass it is static. And if you use the `octokit` instance f

[2020-07-16 20:42] tnolet commented on #117
@gr2m We will try that. We also had some reports from some developer SaaS-es that use the  GitHub API heavily that the 401 errors are "kinda known" and should just be retried. Even with fresh tokens.

[2020-07-16 20:45] gr2m commented on #117
Hmm first time I hear of it, at least in that context.

What happens sometimes are 401s shortly after you create the installation access tokens. This is caused by a racing condition when you send a GET/HEAD request right after creating a new installation access token. We account for this case now, see https://github.com/octokit/auth-app.js/pull/85

[2020-07-16 20:54] tnolet commented on #117
@gr2m o wow. That 100% confirms the anecdata I got from one of our larger customers (you can figure out which one by visiting our landing page @ checklyhq.com). I will follow your hints and see how we can integrate this with Redis as a store, as we do no need the extra runners due to the longer run times of our jobs.

[2020-07-16 21:31] gr2m commented on #117
Is love to share an example using a redis backend in the README.md. I’m sure many folks would be interested in that

[2020-07-16 21:43] tnolet commented on #117
@gr2m we will share!

Still hitting a snag with your suggested solution. We are on:

[code]
// imports etc.

const OctokitWithAppAuth = Octokit.defaults({
  authStrategy: createAppAuth,
  id: config.github.githubAppId,
  privateKey: config.github.githubAppPrivateKey.replace(/\\n/g, '\n'),
  cache: { get, set }
})

function  getInstallationClient (installationId) {
    return new OctokitWithAppAuth

[2020-07-16 22:20] gr2m commented on #117
`id` and `privateKey` are `auth.*` options. Try

[code]

[2020-07-16 22:30] tnolet commented on #117
@gr2m found that one, still hitting this error. I think we are 99% there...

in a nut shell:

[code]

returns the `Error: secretOrPrivateKey must have a value`

[2020-07-16 22:53] gr2m commented on #117
I'm sorry, my fault. I thought I implemented deep merging of options with defaults, but I ended up implementing a callback syntax instead, because deep merging has all kinds of nasty edge cases and would noticeably increase the bundle sice, so I decided to leave it up to the user by implementing a callback API for `Octokit.defaults((options) => /* ... */)` instead, see https://github.com/octokit/c

[2020-07-16 23:05] tnolet commented on #117
@gr2m thanks, that totally solves the `secretOrPrivateKey` issue.

Interestingly, I'm now back at the tokens not being cached. Even without Redis.
Is the LRU cache created on each call to `new Octokit()` or at the `require` level?

[2020-07-16 23:11] gr2m commented on #117
each `new Octokit()` ... which I agree is not ideal in that case. But if you have an external cache store then it should work, that's what it's for

[2020-07-16 23:20] tnolet commented on #117
@gr2m ok cool, was just playing around with it. I think the `cache` property should also be inside the `auth` object, e.g. this works and returns cached tokens using Redis.

[code]

The crux is, does it refresh the tokens when they are are stale when used in this contruction

[code]

I think we'll find out tomorrow (getting late here in Berlin...).

My hat is of to your support @gr2m. Absolutely s

[2020-07-16 23:26] gr2m commented on #117
Yes 🤦 sorry I missed that

Gute Nacht! 🐻🇩🇪

[2020-07-17 00:23] gr2m commented on #117
When I investigated your problem, I've found a bug when using an external cache and the `auth.hook` API that `Octokit` is utilizing internally. Make sure to update `@octokit/auth-app` to [v2.4.9](https://github.com/octokit/auth-app.js/releases/tag/v2.4.9) before continuing to test

[2020-07-17 09:04] tnolet commented on #117
@gr2m this is awesome, I'm testing this right now. Will update

[2020-07-24 18:28] gr2m commented on #117
Hey @tnolet is the issue resolved for you?

Also would really, really appreciate a pull request that adds a usage example with a Redis-backed cache. I could use that right now for the upcoming upcoming probot release (https://github.com/probot/probot/pull/1274). In Probot we already support a Redis backend for throttling requests in a cluster deployment, we could just re-use the same redis configu

[2020-07-24 19:48] tnolet commented on #117
@gr2m yes, this issue seems 100% resolved since last week. I'm a bit swamped with work to create PR so I copy / pasted our production code down here.

Some notes:
- we explicitly set the TTL in Redis. We set it conservatively at 30 minutes.
- we load in a GitHub private key, some folks might not need this, some will.

[code]

[2020-07-26 22:29] gr2m commented on #117
This is great, thank you!

[2020-08-02 19:17] #64 closed

[2020-08-05 22:00] gr2m opened #139 "App tries to authenticate as installation for Marketplace endpoints"
The marketplace routes need to be added to

https://github.com/octokit/auth-app.js/blob/7aecc14d6823ee6f8a77ca730a1ffd7b63ae5ff8/src/requires-app-auth.ts#L1-L13

[2020-08-05 22:15] #139 closed

[2020-08-06 00:02] lencioni commented on #111
@gr2m is there any more information I can provide to help move this to the next step?

[2020-08-06 06:10] gr2m commented on #111
I'm very sorry for not getting back to you. I had to focusing on https://github.com/wip/app/pull/239 the past weeks, but that is coming to an end soon, after which I'll go through the open issues and PRs that I have neglected :(

[2020-08-06 11:45] lencioni commented on #111
Thank you!

[2020-08-09 02:24] MarcelRaschke opened #143 "auth"

[2020-08-09 06:58] #143 closed

[2020-08-10 18:17] lencioni commented on #111
We've recently updated GHE to 2.20.12 and I tried this stuff again and I'm seeing similar behavior.

- Fresh install of required packages: 406 error
- Only change `{}` to `{ permissions: {} }` in @octokit/auth-app/dist-node/index.js line 288: 406 error
- Only add `requestOptions.url = requestOptions.url.replace('/api/app/installations/', '/api/v3/app/installations/');` to the `fetchWrapper` functi

[2020-08-11 15:35] gr2m opened #146 "Handle JWT errors due to out-of-sync system time"
There are two errors we have to handle

1. The calculated expiration time is in the past

2. The issued at time is in the future

I would catch errors in `auth.hook` and look for the `exp` or `iat` in the error message. If either exists, log a warning, then read out `error.headers.date` to get GitHub's API time, store the difference to the current system time, and use that difference moving forwar

[2020-08-11 19:33] copperwall commented on #146
I'd love to work on this!

[2020-08-11 20:07] gr2m commented on #146
Great :) Let me know if you have any questions!

[2020-08-18 13:52] lencioni commented on #111
We have now updated GHE to 2.20.14, and I just wanted to report that the behavior is the same as I observed with 2.20.12.

[2020-08-31 14:48] lencioni commented on #111
@gr2m Can you think of a workaround that we could use in the meantime while this is still an issue?

[2020-09-01 22:20] gr2m opened #161 "Reduce the retry time to account for replication lag from 1 minute to 5s"
I've been told the the max. replication lag for the Database replication clusters don't usually get over 1s, so 5s is plenty. If it doesn't work after that, it's usually a service outage.

Follow up to #85

/cc @gwestersf

[2020-09-01 23:18] gr2m commented on #161
fixed by https://github.com/octokit/auth-app.js/pull/162

[2020-09-01 23:18] #161 closed

[2020-09-02 20:02] gr2m opened #163 "Improve error message in case of 401 after the retries in the first 5 seconds"
We currently throw the standard 401 error when all the retries fail:

https://github.com/octokit/auth-app.js/blob/22b88b7c1860f87e9acd974a54d6be33a46dc594/src/hook.ts#L49-L84

We could add more information so that users know that we send 2 or 3 retry requests to account for a potential replication lag. That way the support team will have more information they can work with when investigating the p

[2020-09-09 15:56] gr2m commented on #111
Apologies for not getting back to you. I'm looking into it right now

[2020-09-09 17:39] gr2m commented on #111
@lencioni can you try the following

1. install `@octokit/graphql` from https://github.com/octokit/graphql.js/pull/186: `npm install https://github.pika.dev/octokit/graphql.js/pr/186`
2. Update the `baseUrl` setting

[code]

You can also remove

[code]

It has no effect in your case

Please let me know if that resolves the `406` error

[2020-09-09 17:59] lencioni commented on #111
@gr2m Yep, that works! Here's my diff:

[code]

[2020-09-09 18:25] #111 closed

[2020-09-10 20:35] #117 closed

[2020-09-11 01:13] apmitchell commented on #59
Did you ever find a workaround  for this?

[2020-09-14 14:46] andreas-karlsson opened #173 "TypeError: Cannot convert undefined or null to object in cache.ts { set }"
I'm using this lib with an older version of GHE. In some cases the post to `/app/installations/:installation_id/access_tokens` returns a payload without the permissions object. This in turn causes the set function in cache.ts to blow up on the following line: https://github.com/octokit/auth-app.js/blob/fb13fa22f6beff408b902dd1d1f00996d2b462df/src/cache.ts#L74

[2020-09-14 14:53] gr2m commented on #173
Which GHE version? There is a note about GHE 2.18 in the README for exactly that problem

<img width="887" alt="image" src="https://user-images.githubusercontent.com/39992/93101586-4fd66c80-f65f-11ea-8ecd-530fcc27d7e2.png">

Note 2.18 is no longer maintained as of this month

[2020-09-14 15:55] andreas-karlsson commented on #173
Right! Thanks. Didn't see that... still, this can't be completely circumvented by the user due to https://github.com/octokit/auth-app.js/blob/fb13fa22f6beff408b902dd1d1f00996d2b462df/src/hook.ts#L36

Would you accept a PR that just adds an empty permissions object in that call site?

[2020-09-14 16:08] gr2m commented on #173
I'm not sure what you mean? Could you explain? If it's easier to discuss it directly in code then feel free to start a PR and we can take the discussion there

[2020-09-14 18:22] #163 closed

[2020-09-14 18:25] gr2m commented on #173
closing as par https://github.com/octokit/auth-app.js/pull/175#discussion_r488135110

[2020-09-14 18:25] #173 closed

[2020-09-15 21:18] gr2m opened #176 "Add a new `log` option to `createAppAuth(options)`, then replace `console.warn` with `state.log.warn`"
We are trying to avoid any direct calls to `console`, so that consumers of the Octokit libraries can use their own logging tool. The way we do that is a `log` option that is compatible with the global `console` object. It should at least set `{ debug, info, warn, error }`. By default, `{ debug, info }` are no-ops, the other two default to `console.warn` and `console.error` respectively. Compare ht

[2020-09-15 21:19] #146 closed

[2020-10-01 07:21] chopfitzroy opened #184 "Cannot authenticate with token or use "installation" method"
I am trying to do an app installation and have tried two different methods and cannot seem to authenticate with either, although I do get different errors.

I have installed the app (which is in an org I have created) to my account, and using the `installation_id` that is present in the querystring of the callback URL I am trying to authenticate.

The more basic/manual method I have tried is as fo

[2020-10-01 22:38] gr2m commented on #184
Hi @chopfitzroy, I tried to reproduce the problems you created. I found one bug in your code, after fixing that it all works as expected. You need to change the `authorization` header prefix from `token` to `bearer` when authenticating with a JWT

See my code at
https://runkit.com/gr2m/octokit-auth-app-js-184/1.0.0

What is it exactly that you are trying to accomplish? The first code example is un

[2020-10-01 23:22] chopfitzroy commented on #184
Hey @gr2m,

The first example was just experimentation when the second example did not work.

Using `test2` I was able to list the repositories, but when I swapped out my own, `id`, `privateKey` (did this inline just to make sure), `installationId` and `org` I got the same error as before?

[code]

Based on this I would assume I have configured something wrong, I can see the app is installed in th

[2020-10-01 23:39] gr2m commented on #184
I'm afraid I haven't seen this error before :(

Does this work?

[code]

If not, can you paste the token here and see what you get as payload? https://www.jsonwebtoken.io/ It should look like this

[code]

If it does, can you try to reproduce the error by sending a curl request? If it doesn't, can you please contact support: support.github.com/contact, they will be able to help you further, I'm af

[2020-10-01 23:55] chopfitzroy commented on #184
Using the above code, same error, the token is logged as follows:

[code]

Looks like it verifies correctly:

![image](https://user-images.githubusercontent.com/2978850/94874462-8ceb8d00-04ae-11eb-932e-e2cf39a091ba.png)

Except the `iss` field is `null` which would explain the error, not sure what this means.

[2020-10-01 23:57] gr2m commented on #184
me neither, I suggest you contact support. Please keep me posted and reference this issue, I'm happy to help the great support folks in any way I can, they know how to reach me

[2020-10-01 23:58] chopfitzroy commented on #184
Hey @gr2m fantastic will move this to support, thank you so much for all your help debugging this 😁

[2020-10-05 03:00] chopfitzroy commented on #184
Hey @gr2m I figured it out, and it is really embarrassing.

This line in all of my examples was the only thing I did not try swapping out for a "hard coded" string:

[code]

Well through another issue I discovered that my environment variables were not being populated, once I resolved this issue and re-tried everything went through first try! I am so sorry for taking up so much of your time!

One

[2020-10-05 16:30] gr2m commented on #184
I agree. Would you like to get a pull request going? You can start with just a failing test and we can continue the discussion there?

[2020-10-15 07:21] chopfitzroy commented on #184
Get @gr2m yes absolutely, I will try to get onto this this weekend.

[2020-10-15 14:04] romanbalayan commented on #176
Hi @gr2m,
I opened a PR for this. I'm still quite unsure how to go about testing the log methods - debug, info, and error. Currently they are not covered on the test cases.

[2020-10-15 20:52] first-timers[bot] opened #191 "Replace "cdn.pika.dev" with "cdn.skypack.dev" in README"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

The Pika CDN is now Skypack, see https://www.pika.dev/cdn. The CDN at https

[2020-10-15 22:30] gr2m commented on #176
thanks @romanbalayan, great work! resolved via https://github.com/octokit/auth-app.js/pull/190

[2020-10-15 22:30] #176 closed

[2020-10-16 13:37] chrispinkney commented on #191
Hey everyone!

My JS/TS is rocky so I'm looking for a small bit of extra practice. Could I give this one a shot?

Let me know, thanks!
-Chris

PS Thank you for your website. I've used it a few times this month :)

[2020-10-16 16:42] BrunoBlanes opened #192 "'type: "auth"' not working"
I have an Octokit instance setup as shown below:

[code]

And I get the following error when trying to make a request:
`(node:11452) UnhandledPromiseRejectionWarning: Error: [@octokit/auth-app] installationId option is required for installation authentication.`

[code]

I've tried following the documentation but there isn't a clear one for app authentication, am I doing something wrong?

[2020-10-16 19:19] divinenaman commented on #191
Hey! can you let me fix this issue? This will be my first issue and hopefully this will break my bubble.

[2020-10-16 23:54] wolfy1339 commented on #191
Sure thing! It's all yours

[2020-10-17 05:05] gr2m commented on #192
For the `GET /repos/:owner/:repo/assignees/:assignee` request, you need to authenticate using an installation access token. You cannot authenticate as the app itself (JWT). In order to create the installation access token, you have to set the `installationId` auth option. Instead of

[code]

do

[code]

I hope to change that in future, because the installation ID can in theory be derived automatic

[2020-10-17 12:23] BrunoBlanes commented on #192
Thank you for the information, I'll be using installation id from now on.

[2020-10-17 12:23] #192 closed

[2020-10-18 14:47] dominguezcelada commented on #192
Should we create an issue to implement this enhancement? @gr2m

[2020-10-18 20:09] gr2m commented on #192
good call, I'll do it, there is a lot of information I need to lay out, it's all rather complicated

[2020-10-19 13:44] archi15 commented on #191
I'd would like to contribute in this. Will I?

[2020-10-19 16:37] gr2m commented on #191
Of course you can, @archi15 👍🏼

[2020-10-19 17:10] archi15 commented on #191
I had made the changes. Please review my PR #194 . Thanks!

[2020-10-20 02:53] jefferycline1 commented on #191
That's cool sorry I been away and just got this.

[2020-10-20 03:38] gr2m commented on #191
@jefferycline1 would you like to send a pull request for this issue? Follow the instructions above ☝🏼

[2020-10-20 23:38] jefferycline1 commented on #191
Yes sir I would be honored

[2020-10-21 00:53] jefferycline1 commented on #191
@@

[2020-10-21 04:00] gr2m commented on #191
Please go ahead @jefferycline1. Let us know if you have any questions

[2020-10-21 06:12] gr2m commented on #184
would you still like to work on it?

I think `@octokit/auth-app` should throw a meaningful error if it's attempting to create an installation access token without the `installationId` being set in either the strategy options or the `.auth()` options. If you are busy I can look into it myself, I see people repeatedly running into this problem, a helpful error message will help greatly to help folks

[2020-10-21 06:16] gr2m commented on #54
let me know if you have further questions

[2020-10-21 06:16] #54 closed

[2020-10-21 06:30] jefferycline1 commented on #191
@@ -32,11 +32,11 @@ For other GitHub authentication strategies see [octokit/auth.js](https://github.
 Browsers
 </th><td width=100%>

-Load `@octokit/auth-app` directly from [cdn.pika.dev](https://cdn.pika.dev)
+Load `@octokit/auth-app` directly from [cdn.skypack.dev](https://cdn.skypack.dev)

[code]

[2020-10-21 15:48] gr2m commented on #191
That's not how you send a pull request. The easiest way is to edit the README.md file directly in the browser, see the instructions in the issue. Here is the documentation on how to edit files directly in the browser: https://docs.github.com/en/free-pro-team@latest/github/managing-files-in-a-repository/editing-files-in-your-repository

This is the file you want to edit: https://github.com/octokit/

[2020-10-21 18:14] gr2m opened #197 ""factory" option for auth method to create a new instance with shared state"
When authenticating using an app ID and private key, there is  currently no simple way to derive a new octokit instance which is authenticated as an installation. When implementing a GitHub App which acts on webhook events, we currently have to

1. Create an `octokit` instance with app authentication (`{ id, privateKey }`)
2. For each event, create a new `octokit` instance to which we have to pass

[2020-10-21 23:04] gr2m commented on #197
# 💡

instead of an `Octokit` strategy option that would be called internally with `new Octokit({ auth: { [strategy options here] } })`, I figured it makes more sence to call the option `installationAuth` which will be called with just `{ [strategy options here] }`.

`@octokit/core` can set this option to

[code]

And `@octokit/auth-app` can default to option to `installationAuth: auth => createApp

[2020-10-21 23:20] gr2m commented on #197
Maybe even simpler, instead of introducing an entirely new type `"installation-auth"` or `"installation-octokit"`, we could introduce a new option to the existing `"installation"` and maybe also the `"oauth"` type which would be a function that gets called with all the strategy options plus the `installationId` set in the `auth()` call. Something like this:

[code]

For `@octokit/core`, no changes

[2020-10-21 23:49] gr2m opened #199 "Document `timeDifference` startegyOption"
follow up to https://github.com/octokit/auth-app.js/pull/164. Looks like we implemented the option without documenting it.

@copperwall would you mind adding the documentation for the option?

[2020-10-22 01:30] copperwall commented on #199
Oh yeah definitely!

[2020-10-22 16:21] copperwall commented on #199
Hey @gr2m, I was looking into documenting this, but it looks like `timeDifference` lives in the `state` parameter to `auth` instead of `options` parameter that the user passes in. So it doesn't look like that option is available for the user to configure.

We could add it as an option and then initialize the state with the `timeDifference` from `options`, or leave it undocumented? What do you thin

[2020-10-22 16:40] gr2m commented on #199
hmm sorry I found `timeDifference` defined in StrategyOptions:

https://github.com/octokit/auth-app.js/blob/90bc639ca0a3148768929ee119bbbab985616be8/src/types.ts#L76-L89

but it really should only be set on State instead. I just checked and everything still works if we do the change

[code]

Would you like to send a PR for that?

[2020-10-22 16:52] copperwall commented on #199
Ah yeah, I see what you mean. Thanks for pointing that out! I'll make a PR right now.

[2020-10-22 18:11] #199 closed

[2020-10-26 22:11] #197 closed

[2020-10-26 22:39] gr2m opened #204 "return type of `auth({ type: "installation", installationId, factory })` should be Promise<ReturnType<factory>>"
Follow up to https://github.com/octokit/auth-app.js/pull/198/files#diff-c54113cf61ec99691748a3890bfbeb00e10efb3f0a76f03a0fd9ec49072e410aR109-R111

Currently, when doing this:

[code]

The type for `installationOctokit` is `unknown`. What it should be though is the same as the type of `appOctokit`.

With the way the Types for authentication strategies are currently implemented, this change will be

[2020-10-27 21:00] #44 closed

[2020-11-01 02:01] YubaNeupane commented on #191
Hey! can you let me fix this issue?

[2020-11-01 07:14] gr2m commented on #191
Sure thing 👍🏼

[2020-11-01 18:00] #191 closed

[2020-11-04 23:50] gr2m opened #216 "Throw error of unrecognized `type` in `.auth({ type })`"
I just spend a significant amount of time debugging a problem that was ultimately caused by a space after `"installation "`:

[code]

We should throw an error if a `type` is passed that is unknown. Otherwise it currently falls back to `oauth`, which is not what we want.

[2020-12-07 06:36] chopfitzroy opened #233 "Getting the `installation_id` for an existing installation"
I am not sure if this is outside of the scope of this project (or event the Github REST API) but is it possible to get the `installation_id` for an existing install?

The flow I have works while the app is uninstalled, I then prompt the user to install, they are redirected back with the `installation_id` in the query string and I can use that to do an install like so:

[code]

And then proceed fro

[2020-12-07 16:57] gr2m commented on #233
I'm not sure I fully understand. Are you talking about the redirect Setup URL setting that redirects a user to a configured URL of yours after a user installs an app?

<img width="631" alt="image" src="https://user-images.githubusercontent.com/39992/101379607-50029480-3869-11eb-9fb1-24ac1a5cc316.png">

You can retrieve the installation for a user or organization with these requests

1. https://doc

[2020-12-07 19:01] chopfitzroy commented on #233
Hey @gr2m I think that answers my question perfectly :)

And yes I was talking about the `?installation_id=XXXX` passed to this URL.

Thank you so much for you response, I was looking for something more like `installation_id` in the request response as opposed to just `id` and completely missed those endpoints.

[2020-12-07 19:01] #233 closed

[2020-12-07 19:16] gr2m commented on #233
Glad it works for you!

If you have a minute, could you elaborate a bit more on your use case? I'm curious how you use the setup redirect and when you need to receive an installation ID for a GitHub user/org. If your code is open source, could you share the URL?

[2020-12-08 05:59] chopfitzroy commented on #233
Hey @gr2m yes of course.

Unfortunately the code is not open source (yet... we had some AppEngine credentials end up in the git history and they haven't been removed yet) but I can explain the use case.

Bear in mind this is the first "Github App" I have worked on and I am actually beginning to think I have approached the problem wrong so it might be good to get a sanity check while I am here.

Es

[2020-12-08 06:27] gr2m commented on #233
This is very cool! Love logo and icons are very cute, perfect to soften some angry bug reporters 😆

So yeah, I think what you want is an OAuth App. GitHub has two types of apps:

1. OAuth Apps
2. GitHub Apps

When you register an OAuth app, you get the client_id and client_secret. There is no installation, you can use it globally right away. The user does the OAuth dance. Your app can initiate it

[2020-12-08 06:42] chopfitzroy commented on #233
Hey @gr2m thank you so much for the kind words! I will be sure to let you know when we go live! And as for the Oauth explanation thank you so much that is EXACLTY what we need, so I will definitely be using `oauth-app.js`  😃

We hadn't even thought of this! That would have definitely caught us out!

[2021-01-22 01:23] renovate[bot] opened #244 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] fix(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] build(deps): update dependency @sinonjs/fake-timers to v7

---

-

[2021-01-23 21:44] oscard0m commented on #216
Hi @gr2m

Taking a look into this.

Trying to reproduce it with TypeScript, the compiler complains about it:
https://codesandbox.io/s/octokit-auth-app-with-typo-lsg69

Do you have more details on how to reproduce this?

[2021-01-24 23:58] gr2m commented on #216
I'd like to throw an Error in the code, and not rely on the TypeScript definitions. hen using the auth strategy with Octokit, the `octokit.auth()` method does currently not inherit the types

[2021-02-02 23:09] oscard0m commented on #216
Drafted this PR (https://github.com/octokit/auth-app.js/pull/249) but at TS level does not have much sense since an invalid type is impossible to reach when using `@octokit/auth-app` package.

---

Checking at `@octokit/core` package, I found some `TODO`s which probably are the cause of the problem:
* https://github.com/octokit/core.js/blob/8d694c00a3a44c61c2fbb4d88e49e4a2d33fb50c/src/types.ts#L8-

[2021-02-03 00:16] gr2m commented on #216
That is a known limitation right now. See https://github.com/octokit/core.js/pull/32 and https://github.com/octokit/rest.js/issues/1562#issuecomment-582678977. It comes back to the idea of having a global `Octokit` namespace that plugins can extend, it's a bigger project. I want to create a high level issue for this for further discussion. This will also address the ability to define custom event

[2021-02-03 17:24] #216 closed

[2021-02-17 19:50] gr2m commented on #38
This exist now: https://github.com/octokit/app.js/ 🎉

[2021-02-17 19:50] #38 closed

[2021-02-17 19:58] gr2m opened #252 "Implement expiring tokens"
See https://docs.github.com/en/developers/apps/refreshing-user-to-server-access-tokens

When registering a GitHub App, you can enable a setting that user authorization tokens expire

![image](https://user-images.githubusercontent.com/39992/108260613-62296a80-7117-11eb-83e7-14f12fc56db0.png)

The `@octokit/auth-app.js` needs to implement an API to refresh a user token.

[2021-02-17 20:10] gr2m opened #253 "Remove "scope" functionality from OAuth APIs"
GitHub apps support the OAuth web flow to create authorization tokens for users:
https://docs.github.com/en/developers/apps/identifying-and-authorizing-users-for-github-apps

But these OAuth tokens work differently from the tokens created by OAuth apps.

OAuth Apps do not get installed on repositories with a set of permissions. In order to limit what a user authorization token can do, the OAuth we

[2021-02-18 17:46] MoSattler opened #254 "How does the oauth flow work?"
Hi,

in order for my GitHub Apps to be installed, I wanted to use the oauth flow.
In most cases, when you initialise an oauth flow, you get an URL, which you send your users to.
So I was wondering where does octokit generate the URL, and how do I get it?

[2021-02-18 21:01] gr2m commented on #254
You can use https://github.com/octokit/oauth-auth.js for a full SDK to create a server with all necessary APIs for the OAuth flows. See the routes at https://github.com/octokit/oauth-app.js#middlewares

Does that work for you?

There is also https://github.com/octokit/app.js which builds upon https://github.com/octokit/oauth-app.js, but also includes APIs specific to GitHub Apps

[2021-02-18 21:50] MoSattler commented on #254
Hi @gr2m, thank you for your help! The link does not seem to work for me, I get a 404.

[2021-02-18 21:59] gr2m commented on #254
Sorry! I meant https://github.com/octokit/oauth-app.js

[2021-02-19 00:04] gr2m commented on #253
fyi @imwiss when creating an OAuth token for a GitHub App, the response still includes a `"scopes"` key, I wonder if that should be removed?

For reference, here is a request to exchange an OAuth code for an access token using credentials from https://github.com/apps/gr2m

[code]

[code]

Instead of a `"scopes"` key, it would be great to have a `"permissions'` key instead, similar to the `"permiss

[2021-02-19 00:22] gr2m commented on #253
I figured this one out: https://docs.github.com/en/developers/apps/identifying-and-authorizing-users-for-github-apps#check-which-installations-resources-a-user-can-access

`GET /user/installations` includes a `{ "permissions": {} }` key for each installation the user has access

[2021-02-19 01:30] gr2m commented on #253
done via `255`

[2021-02-19 01:30] #253 closed

[2021-02-19 01:36] gr2m opened #256 "Make "scopes" feature toggleable"
Follow up to https://github.com/octokit/auth-app.js/issues/253

OAuth Apps support `scopes` in order to request specific access for OAuth tokens for user access.

GitHub Apps support the OAuth flows, too, however the scopes feature is not supported. Instead the OAuth tokens for user access inherit the permissions from the app and its installations.

[2021-02-19 08:05] MoSattler commented on #254
Thank you very much @gr2m, this is very helpful!

[2021-02-19 10:44] MoSattler commented on #254
@gr2m just to clarify - the linked repos help me setting up the oauth flow for a GitHub App (not an Oauth App), correct?

[2021-02-19 16:29] gr2m commented on #254
- GitHub App SDK: https://github.com/octokit/app.js/
- OAuth App SDK: https://github.com/octokit/oauth-app.js/

An organization cannot be an actor to e.g. create a comment. Only user accounts and GitHub Apps can be actors.

What exactly are you trying to build?

[2021-02-19 18:27] MoSattler commented on #254
Ok, thank you! I got a bit confused by OAUth apps vs GItHub Apps with OAuth.
I need to list the members of an organization, on behalf of the organization, hence the need for a GitHub App.

Thank you very much!

[2021-02-19 18:27] #254 closed

[2021-03-02 00:10] #244 closed

[2021-03-23 17:54] gr2m opened #262 "Use @octokit/auth-oauth-app"
- [x] First step would be to deprecate `auth({ type: "oauth" })` and replace it with `auth({ type: "oauth-user" })` (done via https://github.com/octokit/auth-app.js/pull/264)
- [ ] once we use `@octokit/auth-oauth-app` internally, we can introduce `auth({ type: "oauth-app" })` and `auth({ type: "oauth-user", factory })`

This will also resolve https://github.com/octokit/auth-app.js/issues/252

[2021-03-23 17:55] gr2m opened #263 "Split @octokit/auth-app into @octokit/auth-app and @octokit/auth-app-installation"
compare https://github.com/octokit/auth-oauth-app.js and https://github.com/octokit/auth-oauth-user.js

[2021-03-24 00:29] #252 closed

[2021-03-24 00:29] #262 closed

[2021-03-30 23:01] jeffwilcox opened #268 "TS: having to cast to specific Authentication types now"
FYI, with the latest released version, I'm needing to cast to the specific type of authentication result now, where before it felt more like a type union... not sure if this is a surprise or not, but wanted to make you aware.

Updated code to build with `3.3.0`:

[code]

Before:

[code]

[2021-03-30 23:31] gr2m commented on #268
Hmmm no that was not intended, sorry! I did some changes around the `"oauth-user"` type, I probably broke something, sorry.

I'm heads down in other work, if you like digging into it please go ahead, if not no worries, I'll get to it eventuaully

[2021-03-30 23:33] jeffwilcox commented on #268
@gr2m I want to help and will see if I can get that done. I've been trying to stay on your latest releases ASAP and overall we're still doing great things with the stack!

[2021-03-31 20:09] gr2m commented on #268
I started a PR with a failing test to get this going https://github.com/octokit/auth-app.js/pull/270

[2021-04-01 03:58] hcuong opened #271 "How to create a repository by Github App?"
I went through Github API and found some API that we could create a repository like:

https://docs.github.com/en/rest/reference/repos#create-a-repository-using-a-template
https://docs.github.com/en/rest/reference/repos#create-an-organization-repository
https://docs.github.com/en/rest/reference/repos#create-a-repository-for-the-authenticated-user

But it seems for only OAuth App that we need to sco

[2021-04-01 04:01] magiclisten commented on #271
I tried with this in my backend but it returned 403:
[code]

I just found that there are an App could do it is Stackbit. Don't know how they could get that.

[2021-04-01 19:12] gr2m commented on #271
your app/installation needs the `administration` permission in order to create a repository in an organization. And I think you have to install the app on all your repositories.

It does not seem to be possible for user repositories

[2021-04-01 19:13] gr2m commented on #271
by the way this is rather a question for GitHub's platform APIs, not Octokit. I'm trying to help the best I can, but the GitHub folks monitoring https://github.community/c/github-ecosystem/37 have better insights and access to the teams working on these features.

[2021-04-02 06:21] magiclisten commented on #271
Thanks @gr2m , appreciate it. I'll try more and close the issue.

[2021-04-02 06:21] #271 closed

[2021-04-21 11:58] NickLiffen opened #277 "Repository ID's to be passed into: Installation authentication"
Hey @gr2m 👋

Hope you are well 👋

I am looking to make the most of this module and only pass in the repositories that are required.

I see in your documentation it says this:

[code]

Can I make sure that the `id` you are talking about in the above statement, is the same as the `databaseID` being returned from this object: [Repository](https://docs.github.com/en/graphql/reference/objects#repositor

[2021-04-21 12:29] NickLiffen commented on #277
E.G I would like to run this query:

[code]

and take the value from `databaseId` and pass it in to the `repositoryIds` key (obviously turning them into strings).

There seems to be a lack of information on what makes a `repositoryID`. Not just with this module, but holistically 🤔

[2021-04-21 12:35] NickLiffen commented on #277
Hmm, looking [here](https://github.com/octokit/auth-app.js/blob/b7c019d6bbcd7b4ff5b8fece7d28277df9f8789a/src/types.ts#L63) it may be type `number` 🤔

[2021-04-21 12:56] NickLiffen commented on #277
I **guess** you are hitting [this](https://docs.github.com/en/rest/reference/apps#create-an-installation-access-token-for-an-app) API Endpoint behind the scenes.

It looks to support repository names as well:

[code]

It may be worth adding support for passing in repository names, alongside `repositoryID`

So I guess I have two questions now:

- Is `databaseID` the right ID to pass into the `repos

[2021-04-21 16:54] gr2m commented on #277
Yes to all :) Thank you for offering to help!

[2021-04-21 17:11] NickLiffen commented on #277
@gr2m amazing 👍 I am going to raise a PR for the bottom two separately if that's okay? I will push the 2nd one for your review tomorrow 👍

[2021-04-22 16:59] #184 closed

[2021-04-22 18:12] gr2m commented on #53
closing due to inactivity. As a reminder, you need to set `installationId` on `auth: { appId, privateKey, installationId }` in order to utilize repository APIs

[2021-04-22 18:12] #53 closed

[2021-04-22 19:39] gr2m commented on #59
can we close the issue? The proper solution to this will be to implement the @octokit modules as native ES Modules and take advantage of conditional exports which are support by webpack, rollup, and esbuild now. But this is going to be a bigger project, there is nothing we  can do in the meanwhile on our side to address the original problem of this issue. Use the suggested workarounds instead

[2021-04-22 19:39] #59 closed

[2021-04-23 05:03] thibaultdalban commented on #59
@gr2m yes I think we can close it. Also in recent nodejs release (v16) `atob` is expose as global https://github.com/nodejs/node/pull/37786 so it probably fix (in a way) the issue.

[2021-04-23 08:29] #277 closed

[2021-05-01 01:51] jwenz723 opened #282 "Property 'token' does not exist on type 'Authentication'"
I am going to start out by saying I am a total typescript/javascript newb.

I am trying to create a github action using this `@octokit/auth-app` library. I am trying to authenticate to github using an installation ID. For some reason the typing isn't setup properly to allow access of the `token` property of the object that is returned after calling `createAppAuth`. I was able to resolve my issue b

[2021-05-01 20:42] gr2m commented on #282
Something is indeed not working correctly, I was able to reproduce the problem with a [TypeScript playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgYygUwIYzQQTGHAVxgAs4BfOAMyghDgCIABCZGCAa2BgHoNiSAWgz4GAKDFVCAOzbAI0uMADOAZRhRg0gOYAKAO4ksALjjKNW7QEpE5CcgXm4-UnAC8KdFlz4ipXQhicMHO+ACSACamAIwANEEhYJoAbt4A0mgAnqYM4uRW9o7wLiRo0jDAyFjyih4Y+hjczgIBCcEwmWBoOVrmGAA2-dUKDPEhStJ9g8PSkTEAT

[2021-05-01 20:45] gr2m commented on #282
By the way I just did a live coding show where I created a GitHub action that authenticates as an app, it's using the [`App` SDK `octokit`](https://github.com/octokit/octokit.js#app-client), maybe give that a try?

Here is more info on the show and links to the video: https://github.com/gr2m/helpdesk/issues/1

[2021-05-01 21:26] gr2m commented on #282
I started a PR with a failing test at https://github.com/octokit/auth-app.js/pull/283. I'll look into fixing this the coming week. I think I'll have to rewrite the types, similar to [how they work in `@octokit/auth-oauth-app`](https://github.com/octokit/auth-oauth-app.js/blob/ce88707cded427fb9fbc380d3e1c9ddc6b0fc13e/src/types.ts#L116-L143). If you feel like hacking on it this weekend, please go ah

[2021-05-07 01:08] joscha commented on #59
For anyone else coming across this, the `@octokit/auth-app` package defines:
![package_json](https://user-images.githubusercontent.com/188038/117383344-ed025000-af23-11eb-88ca-dcd1e0ef92f8.png)

Now [@rollup/node-resolve](https://github.com/rollup/plugins/tree/master/packages/node-resolve/#readme) uses this default:

![plugins_packages_node-resolve_at_master_·_rollup_plugins](https://user-images.g

[2021-05-07 18:51] gr2m commented on #59
yes, unfortunately it's not that easy. The `@pika/pack` package we use is no longer maintained, we are looking into creating up our own build setup, which will export a proper ESM build, with conditional exports for Node, browsers, and deno, where necessary.

Eventually we will probably get rid of the build step altogether and just build native ES Modules, and move TypeScript definitions to `.d.ts

[2021-05-08 00:36] joscha commented on #59
Can we patch the produced package.json after it's produced before packaging
and releasing?

On Sat, 8 May 2021, 04:51 Gregor Martynus, ***@***.***> wrote:

[2021-05-08 04:09] gr2m commented on #59
It’s not that easy. The browser build is the esm build. I don’t want to patch the setup we have with post build changes, I want to replace the whole build setup, it’s not an easy fix, unfortunately

[2021-05-08 06:03] joscha commented on #59
I understand, I am merely suggesting a patch fix for the main/browser
fields in the package.json post-build as an intermediate fix until the
build is changed long-term.

Cheers,
Joscha

On Sat, 8 May 2021, 14:10 Gregor Martynus, ***@***.***> wrote:

[2021-05-21 15:18] ScottChapman commented on #59
I'm stuck on Node v12 and am running into this building with webpack so I can deploy to IBM Cloud functions. My config is simple:
[code]
Not sure what my options are?

[2021-05-29 21:58] renovate[bot] opened #292 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: @pika/pack, Invalid configuration option: author, Invalid configuration option: jest, Invalid configuration o

[2021-05-30 04:17] #292 closed

[2021-05-31 22:54] #282 closed

[2021-06-16 16:06] azgorov opened #298 "A JSON web token could not be decoded when using installationId"
I am not sure where i am making an error but this code when installationId is used. If I change type from installation to app I got a token.

[code]

[2021-06-16 16:54] gr2m commented on #298
can you log out `installationId`? Maybe it's set to an incorrect value?

When is the code thrown exactly? Is it thrown the first time you to send a request with `appOctokit`?

Depending on your use case, you might also be interested in the App SDK:
https://github.com/octokit/app.js/

[2021-06-17 08:35] azgorov commented on #298
Thank you @gr2m . It seems that it was some strange case. I have recreated app with new private key and it seems to work. You can just delete this issue.

Kalin

[2021-06-17 15:42] gr2m commented on #298
Thanks Kalin. Maybe there is some encoding error in the code that only occurs if the keys has specific characters. If the problem occurs again please let us know

[2021-06-17 15:42] #298 closed

[2021-06-25 00:07] #49 closed

[2021-06-25 06:49] #204 closed

[2021-08-01 15:50] oscard0m opened #311 "Improve error message when `privateKey` is not a single line String"
**Context:** [40:09 in Reusing GitHub Apps and Actions with Gregor Martynus](https://www.twitch.tv/videos/1102860651?t=40m09s)

---

I can take it once we agree on how to tackle this :)

[2021-08-01 16:35] gr2m commented on #311
Thanks for filing the issue! I think the right place to add better errors would be here:

https://github.com/octokit/auth-app.js/blob/348568d43bbd1a0cd1f8383b3e3fd309ac8f91b4/src/get-app-authentication.ts#L10-L14

We could wrap the code into a `try/catch` and in case of an error check if `privateKey` is only the first line of the private key, which is

[code]

And if it is, throw an error with a m

[2021-08-01 20:41] #311 closed

[2021-11-01 07:24] echuber2 commented on #197
@gr2m Sorry for the ping. I just wanted to see if the documentation on this might need an update.

[2021-11-01 16:15] gr2m commented on #197
Sorry but I cannot help right now, GitHub did not extend my contract:
https://github.com/octokit/octokit.js/discussions/620#discussioncomment-1472174

Here is how `@octokit/core` passes itself to the configured authentication strategy, hope that helps:
https://github.com/octokit/core.js/blob/master/src/index.ts#L121-L160

[2021-11-02 04:49] echuber2 commented on #197
@gr2m I see, I'm very sorry to hear that. Thanks for all of your hard work.

It seems like we just need to make sure that the factory function returns a new Octokit specifying both auth and authStrategy for the case of app installation auth. Some of the more implicit attempts threw exceptions that I was not using a string (token?) as auth.

[2021-12-10 21:27] Chocrates opened #332 "Error: error:1E08010C:DECODER routines::unsupported when calling the api"
I received the following error:

[code]

[code]

Using node17.

I downgraded to node16 and moved the Pkey to a file and it started working.

[2022-02-09 18:15] Tranekahackedme opened #333 "Syntax"

[2022-05-27 15:47] nwf-msr opened #336 "Private keys in (v)TPMs?"
Hello and thanks for OctoKit.

We're using OctoKit's JS incarnation to drive a GitHub App for managing ephemeral runners and we'd like to have our GitHub App's private key not available in plain-text to the application.  Although the key is stored under encryption at rest, when it's loaded into the App's backend code, it's at risk of being accidentally disclosed.  Instead, we would much rather hav

[2022-05-27 15:51] wolfy1339 commented on #336
Sounds like a very interesting use case.
Thanks for the write up!

Unfortunately, there isn't an active maintainer for this package at the moment. GitHub is hiring for a new team to handle the Octokit libraries.

[2022-06-25 07:29] oscard0m opened #351 "ci: test run failing: `TypeError: Can't install fake timers twice on the same global object.`"
Example pipeline failing https://github.com/octokit/auth-app.js/runs/7049931946?check_suite_focus=true

[2022-06-25 08:36] oscard0m commented on #351
Apparently, Renovate did these 2 commits without PR?
![image](https://user-images.githubusercontent.com/2574275/175765549-1bad5aa0-da2d-4836-ab6b-eff3b641b887.png)

[2022-06-25 10:31] oscard0m opened #353 "Remove Node version 10 from .github/workflows/test.yml"
# Description
Node v10 has been deprecated so there is no need to keep giving support to it in our CI.
# Context
You can find more details [here](https://github.com/orgs/octokit/teams/js-community/discussions/6)

[2022-06-25 12:16] #351 closed

[2022-07-03 01:32] nwf-msr commented on #336
If `node.js` accepts [my proposed API](https://github.com/nodejs/node/issues/43653) or something like it, then I believe there would be no need for any changes to OctoKit, which would be quite nice.

[2022-07-08 14:02] dimitriosstander opened #360 "proxy support for return createAppAuth(authOptions);"
https://github.com/octokit/auth-app.js/issues/54 is very similar to an issue I am facing. I need to get https://github.com/philips-labs/terraform-aws-github-runner/blob/76be94beda6c13c75145c7c79dae888bdb647da3/modules/runners/lambdas/runners/src/gh-auth/gh-auth.ts#L70 working with http_proxy. However I have been unable to use the solution there. Can you please help?

[2022-07-11 21:43] #333 closed

[2022-07-12 08:41] mi-hol commented on #332
Hit the same error in a next.js demo app too.

I tried to follow the demo README but for any NOOB certain steps require knowledge to be done correctly that a NOOB simply wont have.
Therefore errors are to be expected and **only meaningful error messages help to get over these hurdles.**
This fact applies to later application support too!

Please see https://github.com/vercel/next.js/discussions/38

[2022-07-12 17:13] timrogers commented on #332
@mi-hol I did some googling of their error message, and it seems like a common cause of the error is having an incorrectly formatted private key (e.g. [this StackOverflow answer](https://salesforce.stackexchange.com/a/365817).

Can you double check that the `privateKey` you are supplying is correctly formatted?

[2022-07-17 18:23] mi-hol commented on #332
Thanks for pointing to NodeJS as the proper place to report this issue to

Apologize, I tried to be respectful but had searched for the root cause and a fix already for more than a day unsuccessfully. As unspecific error message have been a repeated/permanent issue in my career as application supporter I mentioned it without an intent of blaming anybody

[2022-07-17 18:45] mi-hol commented on #332
@timrogers thanks for the hint that lead to the resolution.
A "common cause"  would from my view have many more than 2 hits I got using [search string +js +"ERR_OSSL_UNSUPPORTED"](https://duckduckgo.com/?q=%2Bjs+%2B%22ERR_OSSL_UNSUPPORTED%22&t=vivaldi&ia=web).
May I kindly ask for the search string you used to find the?

[2022-07-18 12:07] timrogers commented on #332
No problem! I searched the same thing as you pretty much - I just saw the result and figured it would be the answer 😊 I'm going to close this issue - do feel free to reopen or create a new one if you run into other problems!

[2022-07-18 12:07] #332 closed

[2022-08-08 08:29] MaxPCider opened #374 "Bug: Error trying to get organization's installed apps"
When trying to list an organization's installed apps (`GET /orgs/{org}/installations`) GitHub returns "Bad Credentials" error.

`const client = new Octokit({
      authStrategy: createAppAuth,
      auth: {
        appId,
        privateKey,
        installationId,
      },
    });
     await client.request('GET /orgs/{org}/installations', { org: 'someOrg' }); // throws error`

The plugin tries to

[2022-08-10 11:44] timrogers commented on #374
@MaxPCider Thanks for reporting this issue! Have you validated that you're able to hit the API successfully with an authentication token? If so, would you be open to making a PR to fix `requiresAppAuth`?

[2022-08-11 19:42] gr2m commented on #374
`requiresAppAuth("GET /orgs/{org}/installations")` returns false to me. Are you sure you are not using the `GET /orgs/{org}/installation` route instead?

[2022-08-11 20:04] gr2m commented on #374
It's possible that we added `[^/]*` to match GET requests with query parameters. We should add a test which sends a GET request with query parameters, we don't seem to test it right now. Once we have the test, when removing `[^/]*` the test should fail, so we should replace it with something that matches a `?` explicitly to make the failing test pass again.

We should also add a test for `GET /org

[2022-08-12 19:01] gr2m opened #375 "Improve error message when `appId` is set to an incorrect value"
follow up to https://github.com/octokit/request.js/issues/505#issuecomment-1213055795

I wonder if we can throw a better error message to help users who ran into the same problem as you did.

The underlying library is [`@octokit/auth-app`](https://github.com/octokit/auth-app.js#readme). My test code looks like this

[code]

When `privateKey` is valid, but appId is not the current ID, then I retrie

[2022-08-15 12:33] timrogers commented on #375
@gr2m Thanks for submitting the issue! I'm happy to look on the GitHub side. Would you be able to provide example values of `appId` and `privateKey` that generate the result you're seeing?

[2022-08-22 04:08] Phb147 opened #380 "Auth"

[2022-08-22 04:08] #380 closed

[2022-08-30 17:17] gr2m commented on #375
There you go

[code]

[2022-10-19 21:51] Dottenpixel opened #407 "README example creates error, then"
I'm using the example code in the README verbatim try to use my GitHub App to run a node script in a GitHub Action job. The example under the **Usage with Octokit** [README header](https://github.com/octokit/auth-app.js#usage-with-octokit) is :

[code]

After some professional Googling, I found that wrapping the `await` line in an anonymous `async` function is the way to go. When I do that I then

[2022-10-20 04:10] gr2m commented on #407
top-level await is supported since Node.js v14.8. Node 14 is the oldest still maintained node version, so that should no longer be a problem? What is your node version? (`node --version`)

It's a constructor option that you set as `new Octokit({ auth: { installationId }})`

Depending on what you are trying to achieve, you probably want to use the App SDK?
https://github.com/octokit/app.js

[2022-10-20 22:26] Dottenpixel commented on #407
Interesting, I'm well above `v14.8`. My node version is `v16.17.1` coming from `actions/setup-node@v3` inside an Actions runner.

I'll take a look at the App SDK. I got where the `installationId` is used eventually, but others like me coming across that README could be better helped. Maybe my use case isn't typical?

Thanks @gr2m!

[2022-10-21 00:39] gr2m commented on #407
ah sorry my fault, the top-level await is only when using ESM.

It's a trade off. Some libraries do the wrapping in async function, but it creates a lot of noise, so I opted for the simpler approach and hope folks understand how to run them.

I don't know your usecase, but I think using `@ocotkit/auth-app` directly is not necessary, the differences between app and installation authentication is ra